#map {
    width: 70%;
    height: 95%;
    margin: 10px;
    float: left;
}

#sidebar {
    width: 20%;
    margin: 10px;
    float: left;
}

div.instructions ul
{
    list-style-type: decimal;
    padding-left: 20px;
}

div.todo-list ul
{
    list-style-type: circle;
    padding-left: 20px;
}

div.social {
    text-align: center;
    margin-top: 50px;
}

div.social img {
    max-height: 48px;
    max-width: 48px;
    margin-left: 10px;
    margin-right: 10px;
}
